{% extends "web/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% comment %}Index title{% endcomment %}{% trans "Real Hackathon for Real Hackers" %}{% endblock %}
{% block homeheader %}
<div class="home-header-wrap">
<div class="header-content-wrap">
  <div class="container">
    <h1 class="intro-text">
        Utopian Hackathon 2018
    </h1>
    <div class="buttons">
      <a href="/teams/" class="btn btn-primary custom-button blue-btn"><i class="fa fa-users"></i> {% trans "Teams" %}</a>
      <a href="/feed/" class="btn btn-primary custom-button red-btn"><i class="fa fa-newspaper-o"></i> {% trans "Feed" %}</a>
      <a href="/projects/" class="btn btn-primary custom-button green-btn"><i class="fa fa-cogs"></i> {% trans "Projects" %}</a>
    </div>
  </div>
</div><!-- .header-content-wrap -->
<div class="clear"></div>
</div>
{% endblock %}

{% block content %}
<section class="focus" id="focus">
  <div class="container">
    <div class="section-header">
      <h2 class="dark-text">
       Open Source and STEEM
      </h2>
      <div class="section-legend">
        Develop open-source applications around these two themes and join the fun!
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
        <div class="service-icon">
          <a href="/">
            <i class="pixeden" style="background:url({% static 'img/website.png' %}) no-repeat center;width:100%; height:100%;"></i> <!-- FOCUS ICON-->
          </a>
        </div>
        <h3 class="red-border-bottom">WHEN?</h3>
        <!-- FOCUS HEADING -->
          <p> The hackathon will launch on September 20th 6:00 am UTC and will end on September 21st 6:00 am UTC.</p>
      </div>
      <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
        <div class="service-icon">
          <a href="/somePlayURL">
            <i class="pixeden" style="background:url({% static 'img/android.png' %}) no-repeat center;width:100%; height:100%;"></i> <!-- FOCUS ICON-->
          </a>
        </div>
        <h3 class="red-border-bottom">{% trans "Where" %}</h3>
        <!-- FOCUS HEADING -->
          <p>
              The hackathon headquarters will, of course, be at the villa the Utopian.io team will be staying at in Lucca, between Pisa and Florence. People cannot join us at Italy, may compete online!
          </p>
      </div>
      <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
        <div class="service-icon">
          <a href="/api/">
            <i class="pixeden" style="background:url({% static 'img/api.png' %}) no-repeat center;width:100%; height:100%;"></i> <!-- FOCUS ICON-->
          </a>
        </div>
        <h3 class="red-border-bottom">{% trans "How to Join" %}</h3>
        <!-- FOCUS HEADING -->
          <p>
              RSVP here to save your spot, and be sure to indicate if you plan to attend in person or online.
          </p>      </div>
    </div>
  </div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->
{% endblock %}
